jax==0.2.9
jaxlib==0.1.60
objax==1.3.1
numpy==1.21.3
matplotlib==3.4.3
scipy==1.7.1
sklearn
pandas==1.3.4
bayesnewton==1.1
gpflow==2.3.0
gpytorch==1.5.1
loguru==0.5.3
rtree==0.9.7
geopandas==0.10.2
tqdm==4.62.3
numba==0.54.1
